/* ----------------------------------------------------------------------- */
/* ANIMATIONS */
/* ----------------------------------------------------------------------- */

.js--wp-1 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    
    &.animated { opacity: 1; }
}
