/* ----------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.icon-big {
    font-size: 125%;
    color: #16a085;
    margin-right: 10px;
}

.orange-background {
    background-color: #dd4814;
}
